* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #313c5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory; */
}

header img{
    height: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* scroll-snap-align: start; */
    position: relative;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.board-piece {
    height: 64px;
    width: 64px;
    background-image: url('../images/out.png');
    background-size: cover;
}
.board-piece:hover{
    scale: 1.1;
}
.board-piece:active{
    scale: 1.0;
}

.light {
    background-image: url('../images/light.png');
}

.win-alert{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #313c5f89;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.hidden {
    display: none;
}